<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GSS.Properties.Settings.GSSConnectionString" connectionString="Data Source=HAODN00985;Initial Catalog=GSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>